# Square decrement poll every 15 minutes

[Unit]
Description=Run smmta-square-poll on a schedule

[Timer]
OnCalendar=*-*-* *:00/15:00
Persistent=true
Unit=smmta-square-poll.service

[Install]
WantedBy=timers.target
